
/* defaults */

.color1{
    background-color: #f6f9f9;
}
/* ************************ */

/* navbar */
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-weight: 600;
    color: #2d3950;
    text-decoration: none;
text-transform: uppercase;
  }
/* ************************** */

.banner-section{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section .row{
    min-height: 776px;
    align-items: center;
}

.banner-section h1{
font-size: 120px;
font-weight: 600;
color: aliceblue;
}
.banner-section p{
    font-size: 18px;
    color: #fff;
    margin: 10px 0 50px;
}
.banner-section span{
    width: 100%;
    height: 4px;
    display: block;
    background: #15a4fa;
}
.banner-section button{
    border: 2px solid #15a4fa;
    color: #fff;
}

.banner-section button:hover{
    background-color:#15a4fa;
    color: #fff;
}

.banner-section a{
    color: #fff;
font-size: 30px;
transform: translateY(-60px);
-webkit-transform: translateY(-60px);
-moz-transform: translateY(-60px);
display: block;
animation-name: move;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes move{
    0%{
        transform: translateY(-60px);
        -webkit-transform: translateY(-60px);
         -moz-transform: translateY(-60px);
    }
    100%{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
    }
}

/* about section */

/* defaults */

.color1{
    background-color: #f6f9f9;
}
/* ************************ */

/* navbar */
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-weight: 600;
    color: #2d3950;
    text-decoration: none;
text-transform: uppercase;
  }
/* ************************** */

.banner-section{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section .row{
    min-height: 776px;
    align-items: center;
}

.banner-section h1{
font-size: 120px;
font-weight: 600;
color: aliceblue;
}
.banner-section p{
    font-size: 18px;
    color: #fff;
    margin: 10px 0 50px;
}
.banner-section span{
    width: 100%;
    height: 4px;
    display: block;
    background: #15a4fa;
}
.banner-section button{
    border: 2px solid #15a4fa;
    color: #fff;
}

.banner-section button:hover{
    background-color:#15a4fa;
    color: #fff;
}

.banner-section a{
    color: #fff;
font-size: 30px;
transform: translateY(-60px);
-webkit-transform: translateY(-60px);
-moz-transform: translateY(-60px);
display: block;
animation-name: move;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes move{
    0%{
        transform: translateY(-60px);
        -webkit-transform: translateY(-60px);
         -moz-transform: translateY(-60px);
    }
    100%{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
    }
}

/* about section */
.about-section .container{
    min-height: 190px;
    
}

.about-section h2{
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 15px;
}
.about-section p{

    font-size: 16px;
    padding-bottom: 50px;
}

/* end of about section */

/* Service Section */



.service-section .service{
    text-align: center;
    align-items: center;
}

.service-section .service h2{
font-size: 22px;
padding: 20px 0 20px;
font-weight: 600;

}

.service-section .service span {
font-size: 60px;
background: rgb(40,118,255);
background: linear-gradient(90deg, rgba(40,118,255,1) 47%, rgba(72,186,255,1) 47%);
display: block;
height: 100px;
width: 100px;
margin: auto;

}
.service-section .service p{
font-size: 15px;
margin-bottom: 60px;


}
/* end of service section */

/* Showcase Section */
.showcase-section{
    padding-bottom: 70px;
}
.showcase-section h2{
font-size: 41px;
padding-top: 80px;

}
.showcase-section p{
font-size: 15px;
padding-top: 20px;
padding-bottom:75px;

}

.showcase-section .showcase{
    position: relative;
    margin-bottom: 30px;
}
.showcase-section .showcase::before{
    content: "";
    background-color: #15a4fa;
    opacity: 0.8;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    transition-duration: 0.4s;
    
}

.showcase-section .showcase:hover::before{
   width: 100%;
   height: 100%;
}

.showcase img{
    width: 100%;
}

.showcase ul{
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 0.4s;
    opacity: 0;
    transition-delay: 0.3s;
}

.showcase:hover ul{
    top:50%;
    opacity: 1;
}

.showcase ul li{
    
    margin-left: 10px;
    
    
}
.showcase ul li a{
    color: #fff;
    border: 1.5px solid white;
    border-radius: 2px;
    display: block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    transition-duration: 0.4s;

}

.showcase ul li a:hover{
    height: 45px;
    width: 45px;
    line-height: 45px;
    color: #15a4fa;
}
/* end of showcase section */

/* contact section */

.contact-section{
    background: linear-gradient(107deg, rgba(45,57,80,0.8337534843038779) 0%, rgba(45,57,80,0.7385153890657825) 0%),url("../img/Strict.png");
}

.contact-section h1{
    font-size: 41px;
    color: #fff;
    padding-top: 75px;
    margin: 0;
}

.contact-section p{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 0;
}

.contact-section .form-control{
    background: transparent;
}

/* end of contact section */